/* You can add global styles to this file, and also import other style files */

input{
  border : 1px solid #ddd;
}
input:focus{
  border : 1px solid #ddd;
}
input:active{
  border : 1px solid #ddd;
}

input:hover{
  border : 1px solid #ddd;
}

.copyright {
  background-color: lightgray;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.valid {
  border-bottom: solid green;
}
.invalid {
  border-bottom: solid red;
}

input {
  font-size: 14px;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}
label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

.active {
  color: black;
}

a {
  color: #1976d2;
  text-decoration: none;
  margin: 5px;
}
a:hover {
  opacity: 0.8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
